{% extends 'base/base.html' %}

{% block title %} Iniciar sesion  {% endblock %}
{% block body %}

  <body_login>
      <form method="post"	 >
            {% csrf_token %}
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Bienvenido a Colina Educa, favor iniciar sesion.</h1>
                </div>
                <br>
                <div class="login-form">
                    <div class="control-group">
                    <input type="text" class="login-field" value="" name="username" placeholder="Nombre de usuario" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="control-group">
                    <input type="password" class="login-field" value="" name="password" placeholder="Contraseña" id="login-pass">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>


                    <input type="submit" class="btn btn-primary" value="Ingresar">
                    <a href="{% url 'password_reset' %}" class="login-link" >Olvide mi contraseña</a><br>
                            {% if form.errors %}
                    <p class="error">Error, Usuario y/o contraseña invalido.</p>
                {% endif %}
                </div>
            </div>
        </div>
      </form>
</body_login>
{% endblock %}