{% extends 'base/base.html' %}
{% block title %} Crear Ticket {% endblock %}
{% block titulo %} Crear ticket {% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
            Por favor, complete el siguiente formulario para crear un nuevo ticket.
        </h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Seleccione tema.</h4>
                        {% render_field form.tema %} 
                         <p align="right"><a href="{% url 'ticket:tema_form' %}">Nuevo</a></p>
                    </div>
                    <div class="col-md-6 ">
                    <h4>Establecimiento de solicitud</h4>
                    {% render_field form.establecimiento %}
                    <p align="right"><a href="{% url 'ticket:establ_form' %}">Nuevo</a></p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Informacion de contacto.</h4>
                        <br>
                         {% render_field form.nom_contacto autocomplete="on" placeholder="Nombre del concato" %}
                        <br>
                        {% render_field form.ape_contacto autocomplete="on" placeholder="Apellidos del concato" %}
                        <br>
                    </div>
                    <div class="col-lg-6"><br><br><br>

                        {% render_field form.correo_contacto placeholder="Correo del contacto" required=""> %}
                        <br>
                        <div class="row">
                            <div class="col-lg-6">
                                {% render_field form.fijo_contacto autocomplete="off" placeholder="Telefono fijo" %}
                            <br>
                            </div>
                            <div class="col-lg-6">
                                {% render_field form.celu_contacto autocomplete="off" placeholder="Telefono celular" required="off"  %}
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    <div class="row">
                            <div class="col-lg-6">
                        <h4>Datos del problema.</h4>
                                {% render_field form.resum_problema autocomplete="off"  placeholder="Resumen del problema" required=""> %}
                                <br>
                            </div>
                            <div class="col-lg-6">
                                <h4>Tecnico asignado.</h4>
                                 {% render_field form.asignado %}
                                 
                         <p align="right"><a href="{% url 'usuario:tecnico_form' %}">Nuevo</a></p>
                                <br>
                            </div>
                        </div>
                        <h4>Detalle del problema.</h4>
                        <br>
                     {% render_field form.detall_problema rows="3" id="imput2" style="margin: 0px -1px 0px 0px; height: 170px; width:max;" autocomplete="off" %}

                    <br>
                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Estado del ticket.</h4>
                        {{ form.estado }}
                    </div>
                    <div class="col-lg-6">
                    <div align="right">
                    <br><br>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="" class="btn btn-default" onclick="history.back();return false">Cancelar</a>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}