{% extends 'base/base.html' %}
{% block title %} Crear Ticket {% endblock %}
{% block titulo %} Detalle ticket N°{{ detalle.id }} {% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-10">
                    <h3>Detalle del ticket N° {{ detalle.id }}, su estado es {{ detalle.estado }}, creado por {{ detalle.usuario }}
                        
                    </h3>
                </div>
                <div class="col-lg-2" align="right">
                    <div class="btn-group" >
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Cambiar <span class="caret"></span></button> 
                        <ul class="dropdown-menu pull-right" role="menu" >
                            <li><a class="btn" style="font-size: 12px" style="font-size: 12px"  href="">Abierto</a> </li>
                            <li class="divider"></li>
                            <li><a class="btn" style="font-size: 12px" href="">Pendiente</a></li>
                            <li class="divider"></li>
                            <li><a class="btn" style="font-size: 12px" href="">Cerrado</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="well well-sm">
                <div class="row ">
                    <div class="col-lg-6">
                        <h3>Tema</h3>
                        <p>{{ detalle.tema }}.</p>
                    </div>
                    <div class="col-md-6 ">
                        <h3>Establecimiento de solicitud</h3>
                        <p>{{ detalle.establecimiento }}</p>
                    </div>
                </div>
            </div>
            <div class="well well-sm" style="background-color: white">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Nombre del contacto</h3>
                    <p>{{ detalle.nom_contacto }} {{ detalle.ape_contacto }} </p>
                    <h3> Correo electronic</h3>
                    <p><a href="mailto:{{ detalle.correo_contacto }}"> {{ detalle.correo_contacto }} </a> </p>
				</div>
                <div class="col-lg-6">
                    <h3> Telefono fijo</h3>
                    <p>{{ detalle.fijo_contacto }}</p>
                    <h3>Telefono movil</h3>
                    <p> {{detalle.celu_contacto }} </p>
                </div>
            </div>
            </div>
            <div class="well well-lg">
                <div class="row ">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3>Datos del problema</h3>
                                <p> {{detalle.resum_problema }}</p>
                            </div>
                            <div class="col-lg-6">
                                <h4>Tecnico asignado</h4>
                                <p> {{ detalle.asignado }} </p>
                            </div>
                        </div>
                        <h4>Detalle del problema</h4>
                        <p>{{ detalle.detall_problema }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% if resp %}
                        {% for foo in resp %}
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ foo.id }}" aria-expanded="false" class="collapsed">
                                                <div class="row">
                                                    <div class="col-lg-6">Asunto: {{ foo.asunto }}</div>
                                                    <div class="col-lg-4">Remitente: {{ foo.usuario }}</div>
                                                    <div class="col-lg-2" style="font-style: oblique; text-align: right; font-size: x-small">{{ foo.updated_at }}</div>
                                                </div>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ foo.id }}" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <p>{{ foo.mensaje }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
            <form method="post">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <p>Asunto</p>
                        {{ form.asunto }}
                        <br>
                        <p>Mensaje</p>
                        {{ form.mensaje }}
                        <button class="btn btn-primary" type='submit'>Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
