{% extends 'base/base.html' %}
{% block title %} Detalle de documento N°{{ detalle.num }} {% endblock %}
{% block head %}
<script language="JavaScript">
<!--
  javascript:window.history.forward(1);
//-->
</script>
{% endblock %}
{% block content %}




    <script>
        function documento(documento){
            var ficha=document.getElementById(documento);
            var ventimp=window.open(' ','popimpr');
              ventimp.document.write(ficha.innerHTML);
              ventimp.document.close();
              ventimp.print();
              ventimp.close();
        }

    </script>

<div >
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-8">
                    <h3><i class="fa fa-file-text fa-fw"></i> Documento N°  {{ detalle.ano }}/{{ detalle.num }} </h3>
                </div>
                <div class="col-lg-4" align="right">
                    <div class="btn-group" style="margin-top: 4%">
                        <a class="btn btn-default" href="{% url 'document:documento_edit' detalle.id %}"><i class="fa fa-edit"></i> Editar</a>

                    </div>
                    <div class="btn-group" style="margin-top: 4%">
                        <a href="javascript:documento('documento')" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-left: 15%; padding-top: 7%">
            <div id="documento" class="row" >
                <style type="text/css">
                .doc__ { font-family: 'Calibri', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;}
                .primeralinea {  text-indent: 140px;}
}
                </style>
                <div class="col-lg-12 doc__" >
                    <br>
                    <div>
                        <div class="doc__" style="float: left; margin-left: 8%;">
                            <img src="/media/img/logo.png" alt="logo" width="200px" height="auto"><br>

                        </div>
                        <div style="text-align: left; width: auto;  font-size: 14px;">
                            <br>
                            <p style="font-size: 14pt"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <b>NUM.:</b> {{ detalle.ano }}/{{ detalle.num }}</p>

                            <p style="font-size: 14pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <b>MAT.:</b> {{ detalle.mat }} </p>
                            <br>
                        </div>
                    </div>
                    <br style="font-size: 5pt">

                <p style="font-size: 14pt; text-align: left; margin-left: 8%">Colina, {{ detalle.creacion }}</p>
                    <div align="center">
                        <p style="font-size: 18pt"> <b><u>{{ detalle.tipo }}</u></b></p>
                    </div>
                    <br>
                    <table style="margin-left: 8%">
                        <tr style="font-size: 14pt; vertical-align: top">
                          <td width="145" height="150"  ><b>DE:</b></td>
                          <td width="300">{{ detalle.desde.nombre }} {{ detalle.desde.apellidos }}<br>{{ detalle.desde.cargo }}</td>
                        </tr>
                        <tr style=" font-size: 14pt; vertical-align: top">
                            <td width="145" height="150 "><b>PARA:</b></td>
                          <td width="100px">{{ detalle.para.nombre }} {{ detalle.para.apellidos }}<br>{{ detalle.para.cargo }}</td>
                        </tr>
                    </table>
                    {% if detalle.tipo.titulo == "Memorando" %}
                        <div class="primeralinea" style="text-align: justify; font-size: 14pt; min-height: 200px; width: 610px; margin-left: 8%; margin-top:10px; margin-right: 8%">
                            <p style="margin-right: 8%; white-space: pre-wrap"> {{ detalle.cuerpo|linebreaksbr }}</p>
                        </div>
                    {% else %}
                        <div class="primeralinea" style="text-align: justify; font-size: 14pt; min-height: 320px; width: 610px; margin-left: 8%; margin-top:10px; margin-right: 8%">
                            <p style="margin-right: 8%; white-space: pre-wrap"> {{ detalle.cuerpo|linebreaksbr }}</p>
                        </div>
                    {% endif %}
                    <div style="font-size: 12pt; margin-left: 8%; float: left"><br><br><br><br>
                       {{ detalle.piepag|linebreaksbr }}
                    </div>
                    <div style="font-size: 14pt; margin-right: 20%; float:right; text-align: center">
                       {{ detalle.desde.firma|linebreaksbr }}
                    </div>
                    <br><br><br>
                </div>
            </div>
            <div align="right">**Correlativo interno {{ detalle.id }}</div>
        </div>
    </div>

</div>

{% endblock %}