{% extends 'base/base.html' %}
{% block title %} Detalle de documento N°{{ detalle.num }} {% endblock %}
{% block head %}
<script language="JavaScript">
<!--
  javascript:window.history.forward(1);
//-->
</script>
{% endblock %}
{% block content %}
<script>
    function documento(documento){
        var ficha=document.getElementById(documento);
        var ventimp=window.open(' ','popimpr');
          ventimp.document.write(ficha.innerHTML);
          ventimp.document.close();
          ventimp.print();
          ventimp.close();
    }

</script>
<div >
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-8">
                    <h3><i class="fa fa-file-text fa-fw"></i> Documento N°  {{ detalle.ano }}/{{ detalle.num }} </h3>
                </div>
                <div class="col-lg-4" align="right">
                    <div class="btn-group" style="margin-top: 4%">
                        <a class="btn btn-default" href="{% url 'document:documento_edit' detalle.id %}"><i class="fa fa-edit"></i> Editar</a>

                    </div>
                    <div class="btn-group" style="margin-top: 4%">
                        <a href="javascript:documento('documento')" class="btn btn-primary"><i class="fa fa-print"></i> Imprimir</a>
                    </div>
                </div>
            </div>
        </div>
    {% if alert != 'null' %}
        <div class="alert alert-danger alert-dismissable ">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ alert }} <!-- <a href="#" class="alert-link">Alert Link</a>. -->
        </div>
    {% endif %}
        <div    >
            <div id="documento" style="width: 793px; height: 1122px; ; font-family: Arial, sans-serif;">
                <style type="text/css">
                    .doc__ {
                        font-family: Arial, sans-serif;
                        margin-left: 9%;
                        margin-right: 9%;
                        margin-top: 5%;
                        font-size: 12pt;
                        font-weight: bold;}
                    .cuerpo {
                        /*text-indent: 140px; */
                        text-align: justify;
                        min-height: 380px;
                        width: auto;
                        margin-top:10px;
                        font-size: 12pt;
                        line-height: 1.3;
                    }
                 /*   div { border: red 1px solid; }
                    table, td, tr {
                        border: blue 1px solid;
                        font-weight: bold;
                    }  */
                </style>
                <div class="doc__">
                    <br>
                    <div >
                        <div style="float: left">
                            <img src="/media/img/logo.png" alt="logo" width="200px" height="auto"><br>

                        </div>
                        <div style="text-align: left; margin-left: 48%;">

                            <p>ORD.: N°{{ detalle.num }}/{{ detalle.ano }}<br>
                            ANT.: <br>
                            MAT.:{{ detalle.mat }} <br></p>

                        </div>
                    </div>
                    <div style="padding-top: 50px; padding-bottom: 30px">Colina, {{ detalle.creacion }}.-</div>
                    <table>
                        <tr style="vertical-align: top">
                            <td width="50" height="100 ">A</td>
                            <td width="50" height="100 ">:</td>
                          <td width="475">{{ detalle.para.nombre }} {{ detalle.para.apellidos }}<br>{{ detalle.para.cargo }}</td>
                        </tr>
                        <tr style="vertical-align: top">
                          <td width="50" height="100"  >DE</td>
                          <td width="50" height="100"  >:</td>
                          <td width="475">{{ detalle.desde.nombre }} {{ detalle.desde.apellidos }}<br>{{ detalle.desde.cargo }}</td>
                        </tr>
                    </table>
                    {% if detalle.tipo.titulo == "Memorando" %}
                        <div class="cuerpo">
                            <p style="white-space: pre-wrap; font-weight: normal"> {{ detalle.cuerpo|linebreaksbr }}</p>
                        </div>
                    {% else %}
                        <div class="cuerpo">
                            <p style="white-space: pre-wrap; font-weight: normal"> {{ detalle.cuerpo|linebreaksbr }}</p>
                        </div>
                    {% endif %}
                    <div style="float: left; font-weight: normal"><br><br><br><br><br><br><br><br><br>
                       {{ detalle.piepag|linebreaksbr }}
                    </div>
                    <div style="margin-left: 30%; text-align: center; width: 350px">
                       {{ detalle.desde.firma|linebreaksbr }}
                    </div>
                    <br><br><br>
                </div>
            </div>
            <div align="right">**Correlativo interno {{ detalle.id }}</div>
        </div>
    </div>

</div>

{% endblock %}