{% extends 'base/base.html' %}
{% block content %}
<div class="row">
    <div class="panel panel-default">
	<div class="panel-heading">
		<h3>
		<i class="fa fa-list-alt fa-fw"></i> Listados de documentos.
	</h3>
	</div>
    <div class="panel-body">
    	<div class="dataTable_wrapper">
            <table class="table table-striped table-hover dataTable" id="dataTables-example">
	            <thead>
	                <tr>
						<th>#</th>
						<th>Materia</th>
						<th>Fecha</th>
						<th>Tipo</th>
						<th>Remitente</th>
						<th>Destinatario</th>
						<th style="width: 120px;">Acciones</th>
					</tr>
	            </thead>
	            <tbody>

				{% for documentos in model %}
                    {% if documentos.activo %}
					<tr class="odd gradeX" >
						<td >{{ documentos.ano }}/{{ documentos.num }}</td>
						<td> <a href="{% url 'document:documento_detalle' documentos.id %}"> <B>{{ documentos.mat }}</B></a></td>
						<td>{{ documentos.creacion }}</td>
						<td>{{ documentos.tipo }}</td>
						<td>{{ documentos.desde }}</td>
						<td>{{ documentos.para }}</td>
						<td>
							<div class="row" align="center">
							<div class="btn-group">
                                        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Acciones
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            </li>
                                            <li><a class="btn" href="{% url 'document:documento_detalle' documentos.id %}">Imprimir</a>
                                            </li>
                                            <li><a class="btn" href="{% url 'document:documento_edit' documentos.id %}">Editar</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a class="btn " style="color: darkred" href="{% url 'document:active_off' 'documento' documentos.id %}"> Anular</a>
                                            </li>


                                        </ul>
                                    </div>

							</div>
						</td>
					</tr>
                    {% else %}

					<tr class="odd gradeX" style="color: #737373">

						<td>{{ documentos.ano }}/{{ documentos.num }}</td>
						<td> <B>{{ documentos.mat }}</B></td>
						<td>{{ documentos.creacion }}</td>
						<td>{{ documentos.tipo }}</td>
						<td>{{ documentos.desde }}</td>
						<td>{{ documentos.para }}</td>
						<td align="center">Nulo</td>
					</tr>
                    {% endif %}
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>
</div>
</div>

{% endblock %}