{% extends 'base/base.html' %}
{% block title %} Crear Ticket {% endblock %}
{% block titulo %} Crear ticket {% endblock %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
            Por favor, complete el siguiente formulario para crear un nuevo Documento.
        </h3>
        </div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type='submit'>Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
