{% extends 'base/base.html' %}
{% block titulo %} Usuarios registrados{% endblock %}
{% block content %}
<div class="row">
    <div class="panel panel-default">
	<div class="panel-heading">
		<h3>
		<i class="fa fa-users fa-fw"></i> Listados de usuarios registrados.
	</h3>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr align="center">
				<td>#</td>
				<td>Usuario</td>
				<td>Correo electronico</td>
				<td>Nombre</td>
				<td>Apellidos</td>
				<td >Acciones</td>
			</tr>
		</thead>
		<tbody>
			{% if object_list %}
			{% for User in object_list %}
			<tr>
				<td align="center">{{ User.id }}</td>
				<td>{{ User.username }}</td>
				<td>{{ User.email }}</td>
				<td>{{ User.first_name }}</td>
				<td>{{ User.last_name }}</td>
				<td>
							<div class="row" align="center">
							<div class="btn-group">
                                        <a type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            Acciones
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-right" role="menu">

                                            <li>
                                                <a class="btn"  href="{% url 'usuario:modif_usuario' User.id %}"> Editar</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a class="btn" style="color: darkred" href="{% url 'usuario:elim_usuario' User.id %}"> Eliminar</a>
                                            </li>
                                        </ul>
                                    </div>

							</div>
						</td>
			</tr>
			{% endfor %}
			{% else %}
			<h1>No hay registro</h1>
			{% endif %}
		</tbody>
		

	</table>
</div>
</div>

{% endblock %}